<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Plan Your Tasks</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3926247.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Your Key to Success: Task Management Reinvented</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Get more done, stay organized, and boost your productivity with our intuitive task manager app.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/8380942_3900615.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Effortless Task Management Made Simple</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Simplify your daily routine, keep track of your to-dos, and accomplish your goals with ease.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/OIP (2).jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Stay on Top of Your Tasks, Anytime, Anywhere</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Never miss a deadline again. Our task manager app keeps you in control, even on the go.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/OIP (5).jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Elevate Your Efficiency with Smart Task Management</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted"> Unleash your full potential, reduce stress, and reach new heights in your personal and professional life.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/OIP (6).jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Task Master Pro: Your Personal Productivity Sidekick</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Supercharge your productivity, achieve your dreams, and excel in every aspect of life with our innovative task manager.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>