<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">{{ dialogData.action }} Task</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="taskForm">
    <div fxFlex fxLayout="column">
      <div fxLayout="row wrap">
        <mat-form-field appearance="fill">
          <mat-label>Task Name</mat-label>
          <input type="text" matInput formControlName="taskName" required />
          <mat-error
            *ngIf="
            taskForm.controls.taskName.touched &&
            taskForm.controls.taskName.invalid
            "
          >
            <span *ngIf="taskForm.controls.taskName.errors.required"
              >This field is mandatory</span
            >
            <span *ngIf="taskForm.controls.taskName.errors.pattern"
              >This field is invalid</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select formControlName="statusLable">
            <mat-option
              *ngFor="let status of status"
              [value]="status"
              >{{ status }}</mat-option
            >
          </mat-select>
          <mat-error
            *ngIf="
            taskForm.controls.statusLable.touched &&
            taskForm.controls.statusLable.invalid
            "
          >
            <span *ngIf="taskForm.controls.statusLable.errors.required"
              >This field is mandatory</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Task Start Date</mat-label>
          <input type="date" matInput formControlName="taskStartDate" required />
          <mat-error
            *ngIf="
            taskForm.controls.taskStartDate.touched &&
            taskForm.controls.taskStartDate.invalid
            "
          >
            <span *ngIf="taskForm.controls.taskStartDate.errors.required"
              >This field is mandatory</span
            >
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap">
        <mat-form-field appearance="fill">
          <mat-label>Task End Date</mat-label>
          <input type="date" matInput formControlName="taskEndDate" required />
          <mat-error
            *ngIf="
            taskForm.controls.taskEndDate.touched &&
            taskForm.controls.taskEndDate.invalid
            "
          >
            <span *ngIf="taskForm.controls.taskEndDate.errors.required"
              >This field is mandatory</span
            >
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
    [disabled]="!(taskForm.valid && taskForm.dirty)"
  >
    {{ action }}
  </button>

  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
